html/
# papers connected to QEta and stored elsewhere
papers/
# somos -> ~/g/somos-collection
somos
sphinx/build/
test/.ipynb_checkpoints/
tmp/
worksheets/.ipynb_checkpoints/
worksheets/*.ipynb
project.pdf
*.aux
qeta.idx
qeta.ind
qeta.out
qeta.bbl
qeta.blg
qeta.ilg
qeta.log
qeta.pdf
qeta.synctex.gz
qeta.toc
